.vue-uploader .add {
    background: url(../images/idcard1.png);
    background-size: 100% 100%;
}
.icon {
    background: url(../images/icon.png);
}
.mine {
    .top {
        background: url(../images/bg1.png);
	}
}