$orange: #fe4c40;
$white: #ffffff;
$grey: #cccccc;
$col0:#000000;
$col3:#333333;
$col6:#666666;
$col9:#999999;
$colf5:#f5f5f5;
$font13:13px;
$font14:14px;
$font15:15px;
$font16:16px;
$font18:18px;
* {
    margin: 0;
    padding: 0;
    font-size: $font16;
    color: $col3;
    font-family: "Microsoft YaHei";
    letter-spacing:1px;
    ul li {
        margin: 0;
        padding: 0;
    }
    h1 {
        font-size: 36px;
    }
    h4 {
        font-size: 16px;
    }
    .hideConnect {
        #udesk_container {
            display: none;
        }
    }
    a {
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        -webkit-user-select: none;
        -moz-user-focus: none;
        -moz-user-select: none;
    }
    .indent {
        text-indent: 35px;
    }
    //公共
    .mt10 {
        margin-top: 10px;
    }
    .mt15 {
        margin-top: -15px;
    }
}

.login {
    min-height: 100%;
    position: absolute;
    width: 100%;
    background: $white;
    form {
        padding: 94px 25px 0 !important;
        p {
            font-size: $font18;
            line-height: 14px;
            margin-top: 19px;
            margin-bottom: 79px;
        }
        input[type='text'],
        input[type='number'] {
            width: 100%;
            height: 46px;
            border: 0;
            border-bottom: 1px solid #E5E5E5;
            padding: 0;
            margin-bottom: 15px;
        }
        input::-webkit-input-placeholder {
            color: #ccc;
        }
        input:-ms-input-placeholder {
            //      line-height: 1.0rem;
        }
        input:-moz-placeholder {
            //      line-height: 1.0rem;
        }
        input::-moz-placeholder {
            //      line-height: 1.0rem
        }
    }
    .alert {
        color: $orange;
        font-size: 14px;
        margin: 5px 0 15px 0;
    }
    .ban {
        color: #cccccc;
        border: 1px solid #cccccc;
    }
    .disban {
        color: $orange;
        border: 1px solid $orange;
    }
    .flolayer {
        position: absolute;
        top: 0px;
        height: 100%;
        width: 100%;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
        text-align: center;
        .inner {
            width: 300px;
            background: $white;
            margin: auto;
            margin-top: 125px;
            border-radius: 5px;
            position: relative;
            i {
                position: absolute;
                right: -10px;
                top: -10px;
            }
            h3 {
                font-size: 18px;
                line-height: 18px;
                padding-top: 30px;
                font-weight: 400;
            }
            .text {
                margin: 15px 0;
                p {
                    text-align: left;
                    margin: 10px 30px;
                    font-size: 14px;
                    line-height: 21px;
                    color: $col6;
                }
            }
            .Iagree {
                background: rgb(252, 238, 237);
                width: 100%;
                height: 50px;
                color: $orange
            }
        }
    }
    .code {
        margin-top: 10px;
        position: relative;
        .codeButton {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            button {
                font-size: 14px;
                line-height: 26px;
                height: 30px;
                border-radius: 5px;
                margin-top: 8px;
                padding: 0 7px;
                background: $white;
            }
        }
    }
    .lbtn {
        width: 100%;
        height: 45px;
        border-radius: 5px;
        margin-top: 40px;
        font-size: 15px;
    }
    .longbtn1 {
        background: #cccccc;
        color: $white;
    }
    .longbtn2 {
        background: $orange;
        color: $white;
    }
    .agree {
        position: relative;
        font-size: 14px;
        color: #999999;
        margin-top: 18px;
        div {
            position: relative;
            display: inline-block;
            width: 100%;
            span {
                display: inline-block;
                position: absolute;
                margin-left: 8px;
                line-height: 14px;
                font-size: $font14;
                color: $col9;
                a {
                    font-size: $font14;
                    color: #3fa1fc;
                    text-decoration: underline;
                }
            }
            input {
                width: 18px;
                height: 18px;
                opacity: 0;
                position: absolute;
                margin-top: -3px;
            }
            i {
                color: #cccccc;
                margin-top: -4px;
            }
            .icon-check {
                margin-left: -22px;
            }
        }
    }
}

.header {
    background: #FE4C40;
    padding-top: 20px;
    line-height: 45px;
    // height: 64px;
    color: #ffffff;
    text-align: center;
    font-size: $font18;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
    div {
        position: absolute;
        width: 50px;
        height: 40px;
        top: 25px;
        left: 0;
        background: $orange;
        .icon-back {
            position: absolute;
            left: 15px;
            bottom: 14px;
        }
    }
}

.setUserHead {
    .header2 {
        background: #000;
        border-bottom: 1px solid #272727;
        div {
            background: #000;
        }
    }
    .wrapper {
        position: fixed;
        width: 100%;
        top: 65px;
        height: calc(100% - 115px);
        background: #000000;
        .content {
            height: 100%;
        }
        .test {
            height: 100%;
        }
        .vue-cropper {
            background: #000 !important;
        }
        .show-info {
            height: 100%;
        }
        .model {
            position: fixed;
            z-index: 10;
            width: 100vw;
            height: 100vh;
            overflow: auto;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.8);
        }
        .model-show {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;
            text-align: center;
        }
        .model img {
            display: block;
            margin: auto;
            max-width: 80%;
            width: auto;
            user-select: none;
            background-position: 0px 0px, 10px 10px;
            background-size: 20px 20px;
            background-image: linear-gradient( 45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%), linear-gradient(45deg, #eee 25%, white 25%, white 75%, #eee 75%, #eee 100%);
        }
        @keyframes slide {
            0% {
                background-position: 0 0;
            }
            100% {
                background-position: -100% 0;
            }
        }
        .test-button {
            position: fixed;
            top: 65px;
            width: 100%;
            background: transparent;
            height: 30px;
            padding-top: 10px;
            text-align: right;
        }
        .test-save {
            position: fixed;
            bottom: 0px;
            width: 100%;
            text-align: center;
            background: #000;
        }
        .btnsave {
            margin: auto;
            background: #666;
            color: #fff;
            border-radius: 4px;
            padding: 15px 0;
            width: calc(100% - 30px);
            background: #1f1e1e;
            border: 1px solid #2f2d2d;
            margin-bottom: 15px;
        }
        .btn {
            background: #1f1e1e;
            border: 1px solid #1f1e1e;
            color: #1f2d3d;
            text-align: center;
            color: #fff;
            padding: 0px 8px;
            height: 30px;
            line-height: 30px;
            font-size: 14px;
            border-radius: 4px;
            display: inline-block;
            white-space: nowrap;
            cursor: pointer;
            box-sizing: border-box;
            outline: none;
            border-radius: 4px;
            border-color: #2f2d2d;
            transition: all 0.2s ease;
            text-decoration: none;
            user-select: none;
        }
    }
}

.navigation {
    border-top: 1px solid #e5e5e5;
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    z-index: 200;
    li {
        width: 20%;
        float: left;
        text-align: center;
        a {
            display: inline-block;
            width: 100%;
            font-size: 12px;
            color: #999999;
            .icon-home {
                background-position-x: -17px;
                background-position-y: -62px;
            }
            .icon-news {
                background-position-x: -19px;
                background-position-y: -131px;
            }
            .icon-mine {
                background-position-x: -74px;
                background-position-y: -62px;
            }
            .icon-jifen {
                background-position-x: 78px;
                background-position-y: -101px;
            }
			.icon-m-location{
				background-position: -72px -127px;
			}
        }
        .active {
            color: #fe4c40;
            .icon-home {
                background-position-x: -46px;
                background-position-y: -62px;
            }
            .icon-news {
                background-position-x: -51px;
                background-position-y: -131px;
            }
            .icon-mine {
                background-position-x: -103px;
                background-position-y: -62px;
            }
            .icon-jifen {
                background-position-x: 44px;
                background-position-y: -101px;
            }
			.icon-m-location{
				background-position: -127px -127px;
			}
        }
        div {
            height: 24px;
            margin-top: 5px;
        }
    }
    .icon {
        height: 22px;
        width: 22px;
        display: inline-block;
        background-size: 370px;
    }
	.icon-m {
		height: 22px;
		width: 22px;
		display: inline-block;
		background-size: 220px;
	}
}

.home {
    background: #f5f5f5;
    margin-bottom: 80px;
}

.home {
    .broadcast {
        height: 200px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .message {
        background: #ffffff;
        height: 40px;
        padding: 0 15px;
        color: #666666;
        display: flex;
        align-self: center;
        .weather {
            font-size: $font13;
            height: 100%;
            line-height: 40px;
            margin-left: 10px;
            color: $col6;
            span {
                font-size: $font13;
                color: #FF4400;
            }
        }
    }
    .paragraph{
        margin-top: 10px;
        padding: 15px 0;
        background: #ffffff;
        .title {
            margin-left: 15px;
            border-left: 6px solid #FF4400;
            height: 16px;
            padding-left: 10px;
            line-height: 16px;
            font-size: 16px;
            color: #333333;
        }
        ul{
            display: flex;
            flex-wrap:wrap;
            width: 100%;
            li{
                width: 25%;
                text-align: center;
                a{display: block;}
                span {
                    display: inline-block;
                    font-size: 14px,
                }
                .icon-m {
                    margin-top: 20px;
                    
                }
            }
        }
  
    }
     
}
//service net
.location {
	.search-header {
		background-color: #fe4c40;
		height: 65px;
		display: flex;

		input {
			flex: 1;
			height: 30px;
			border-radius: 15px;
			background-color: #ffffff;
			margin-top: 27px; 
			margin-left: 15px;
			padding: 0 15px;
		}

		button {
			margin-top: 34px;
			width: 50px;
			height: 16px;
			font-size: 17px;
			line-height: 10px;
			color: #ffffff;
			background: #fe4c40;
		}
	}
	
	
	.location-nav {
		height: 40px;
		line-height: 40px;
		display: flex;
		background: #ffffff;

		li {
			flex: 1;
			text-align: center;
		}

		.active {
			color: #fe4c40;
		}

	}
	#container {
		width: 100%;
		height: calc( 100vh - 150px );
	}
	 
	.amap-icon img{
		top: -5px;
		left: -2px;
		width: 25px;
		height: 35px;
	}
	.amap-icon {
		//width: 30px !important;
	}

	.wkbtn,
	.rdbtn,
	.bsbtn {
		color: #fff;
		font-size: 15px;
		padding: 3px 15px;
	}

	.wkbtn {
		background: #3891f7;
		margin-right: 10px;
	}

	.rdbtn {
		background: #33b166;
	}

	.bsbtn {
		background: #d66969;
	}

	.btn-group {
		width: 50%;
		margin: 0 auto;
	}
	
	#panel {
		margin-bottom: 55px;

		.plan {
			padding: 0 15px;

		}

		.amap-lib-transfer span.line .beforespan {
			left: -24px !important;
		}

		.amap-lib-transfer span.subwayline {
			margin-left: 20px !important;
		}

		.amap-lib-transfer span.busline {
			margin-left: 22px;
		}
		
	}
}

.capply {
    margin-top: 85px;
    color: #333333;
    ul {
        li span {
            margin-left: 22px;
        }
    }
    .oriangeb {
        margin: 20px 22px;
        li {
            height: 55px;
            line-height: 55px;
            background: rgba(254, 76, 64, 0.1);
            margin-bottom: 15px;
            width: 100%;
            border-radius: 5px;
            a {
                width: 100%;
                padding-left: 20px;
            }
        }
    }
    li {
        display: flex;
        span {
            min-width: 80px;
        }
        input,
        select {
            flex: 1;
            height: 35px;
            align-self: center;
            margin-right: 20px;
            padding-left: 10px;
        }
        button {
            background: #FE4C40;
            color: #ffffff;
            border-radius: 4px;
        }
        select {
            background: $white;
        }
    }
    .grayb {
        margin: 20px 15px;
        p {
            margin-bottom: 20px;
            span {
                color: $orange;
            }
        }
        li {
            line-height: 50px;
            background: rgba(245, 245, 245, 1);
            margin-bottom: 15px;
            width: 100%;
            border-radius: 4px;
            button {
                width: 100%;
                height: 50px;
            }
        }
    }
    input {
        background: transparent;
    }
}

.mine {
    .top {
        background-size: 100% 100%;
        color: #F3F3F3;
        height: 205px;
        button {
            margin-top: 25px;
            margin-bottom: 10px;
            margin-right: 15px;
            float: right;
            display: block;
            font-size: $font14;
            color: $white;
            background: transparent;
        }
        .topSelf {
            display: flex;
            height: 50px;
            width: 100%;
            justify-content: space-between;
            img {
                width: 50px;
                height: 50px;
                border-radius: 50px;
                margin: 0 10px;
            }
            div {
                color: #f3f3f3;
                margin: 0px 25px;
                line-height: 50px;
                display: flex;
                align-self: center;
            }
            a {
                display: flex;
                align-self: center;
                margin-right: 25px;
            }
        }
        .topAccont {
            display: flex;
            text-align: center;
            margin-top: 30px;
            div {
                flex: 1;
                color: #ffffff;
                font-size: 14px;
                span {
                    font-size: 18px;
                    color: #ffffff;
                }label {
                    font-size: 10px;
                    color: #ffffff;
                }
            }
        }
    }
    .longLines {
        .line1 li {
            label {
                margin-left: 60px;
								font-size: 16px;
            }
            .span-alert {
                position: absolute;
                right: 35px;
                font-size: $font14;
                color: #fff;
                background: #fc4c40;
                padding: 2px 7px 0;
                display: inline;
                border-radius: 10px;
                height: 18px;
                line-height: 18px;
                top: 12px;
                border: 0;
            }
        }
        .line2 {
            margin-bottom: 10px;
            li {
                img {
                    height: 40px;
                    position: absolute;
                    right: 35px;
                    top: 5px;
                }
                label {
                    margin-left: 15px;
                    color: #333333;
                }
                span {
                    position: absolute;
                    right: 40px !important;
                    font-size: 15px;
                    color: #666666;
                }
            }
        }
        .line3 li {
            margin-top: 10px;
            text-align: center;
        }
        li {
            width: 100%;
            height: 50px;
            background: #ffffff;
            margin-bottom: 1px;
            font-size: 16px;
            line-height: 50px;
            position: relative;
            a {
                display: inline-block;
                width: 100%;
                margin: 0;
            }
            i {
                position: absolute;
            }
            .left {
                top: 2px;
                left: 15px;
            }
            .icon-right {
                top: 15px;
                right: 15px;
            }
        }
    }
}

.set {
    margin-top: 65px;
    .sysMesList {
        width: 100%;
        background: $colf5;
        position: absolute;
        //      padding-top: 10px;
        li {
            height: 70px;
            width: 100%;
            margin-bottom: 1px !important;
            background: $white;
            overflow: hidden;
            display: block;
            a {
                display: flex;
                align-items: center;
                .listIcon {
                    margin: 12px 15px;
                }
                .listText {
                    height: 40px;
                    position: relative;
                    width: 100%;
                    .title {
                        font-size: $font15;
                        color: $col3;
                        font-weight: 600;
                        line-height: 20px;
                        height: 20px;
                        .text1 {
                            font-size: $font13;
                            color: $col9;
                            position: absolute;
                            right: 15px;
                        }
                        .text2{
                             position: absolute;
                            right: 15px;
                        }
                    }
                    .text {
                        font-size: $font13;
                        color: $col9;
                        margin-top: 0px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        width: 90%;
                        height: 20px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
    .adressList {
        width: 100%;
        background: $colf5;
        position: absolute;
//      padding-top: 10px;
        li {
            min-height: 85px;
            width: 100%;
            margin-bottom: 1px !important;
            background: $white;
            overflow: hidden;
            display: block;
            display: flex;
            align-items: center;
            .listText{
                flex: 1;
                padding-left: 15px;
                height: 50px;
                position: relative;
                width: 100%;
                .title {
                    font-size: $font16;
                    color: $col3;
                    font-weight: 600;
                    line-height: 20px;
                    height: 20px;
                    .text1 {
                        font-size: $font15;
                        margin-left: 30px;
                        margin-right: 10px;
                    }
                    .btn{
                        font-size: 12px;
                        width: 40px;
                        height: 16px;
                        background: rgba(254, 76, 64, 0.15);
                        color:#fe4c40;
                        padding: 0 3px;
                    }
                }
                 .text {
                    font-size: $font14;
                    color: $col9;
                    margin-top: 3px;
                    width: 90%;
                    height: 20px;
                    line-height: 20px;
                }
               
            }
            a {
                width: 63px;
                display: inline-block;
                span{
                    border-left:1px solid #e5e5e5;
                    height: 31px;
                    font-size: 14px;
                    color: $col6;
                    display: inline-block;
                    width: 100%;
                    text-align: center;
                    line-height: 31px;
                }
                .listIcon {
                    margin: 12px 15px;
                }
                
            }
        }
       
    }
    .details {
        margin-top: 65px;
        h2 {
            height: 72px;
            line-height: 72px;
            font-size: 20px;
            text-align: center;
            border-bottom: 1px solid #cccccc;
        }
        .time {
            margin-top: -12px;
            text-align: center;
            height: 20px;
            line-height: 20pxs;
            span {
                width: 90px;
                display: inline-block;
                font-size: $font13;
                color: $col6;
                background-color: #f5f5f5;
            }
        }
        .text {
            padding: 27px 15px;
            font-Size: $font15;
            line-height: 24px;
            color: $col3;
            text-indent: 30px;
        }
    }
    .order {
       .head{
           text-align: center;
           background: $white;
           padding: 20px 0;
           h1{
               font-size: 18px;
               font-weight: 400;
               margin-top: 10px;
               strong{
                  font-size: 24px; 
               }
           }
        }
        .body{
            background: $white;
            margin-top: 10px;
            padding: 20px 0px;
            hr{
                border-bottom: 2px solid $colf5;
                margin-bottom: 15px;
                margin-top: 10px;
            }
            ul li{
                width: 100%;
                padding: 0 15px;
                height: 30px;
                span{
                    color: $col6;
                    display: inline-block;
                    width: 90px;
                }
            }
        } 
    }
   
}

.news {
    //  background-color: $white;
    width: 100%;
    position: absolute;
    height: 100%;
    //  overflow: scroll;
    // touch-action: none;
    .details {
        margin-top: 65px;
        padding: 20px 15px;
        background: #ffffff;
        min-height: calc(100% - 105px);
        h2 {
            font-size: $font18;
            margin-bottom: 20px;
        }
        .editorImg {
            width: 40px;
            height: 40px;
            border-radius: 20px;
            float: left;
            margin-right: 10px;
        }
        .time {
            line-height: 10px;
            margin-top: 4px;
            font-size: 12px;
            color: $col9;
        }
        .article {
            clear: both;
            margin-top: 15px;
            text-indent: 30px;
        }
    }
}

.function {
    margin-top: 65px;
    background: #ffffff;
    padding: 15px;
    h1 {
        text-align: center;
        font-size: 28px;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    h2 {
        color: red;
        font-size: 20px;
        text-align: center;
        margin: 15px;
    }
    h3 {
        margin: 15px 0
    }
    label {
        color: red;
        margin-right: 5px;
        font-size: 18px;
    }
    p {
        margin: 5px 0;
    }
    span {
        font-weight: bold;
    }
}

.about {
    .top {
        text-align: center;
        margin-bottom: 40px;
        img {
            width: 90px;
            height: 90px;
            margin-top: 115px;
        }
        h4 {
            margin: 18px 0 10px 0;
        }
        p {
            color: $col9;
            font-size: $font14;
        }
    }
    .mine li {
        display: block;
    }
    .bottm {
        text-align: center;
        font-size: 12px;
        color: $col9;
        position: fixed;
        bottom: 40px;
        width: 100%;
    }
}

.setUpdate {
    margin-top: 65px;
    .updateInner {
        margin: 0px 15px;
        input {
            width: 100%;
            height: 35px;
            margin-top: 30px;
            background: #f5f5f5;
            border-bottom: 2px solid red;
            outline: none;
            //          cursor: pointer;
        }
        div {
            color: $orange;
            margin: 5px 0 30px 0;
        }
        .lbtn {
            width: 100%;
            height: 45px;
            border-radius: 5px;
            font-size: 15px;
        }
        .longbtn2 {
            background: $orange;
            color: $white;
        }
    }
}

// 小图标
.icon-horm {
    width: 25px;
    display: inline-block;
    background-position-x: -185px;
    background-position-y: -64px;
    background-size: 420px;
}

.icon-card1 {
    height: 45px;
    width: 45px;
    display: inline-block;
    background-position-x: -16px;
    background-position-y: -11px;
    background-size: 370px;
}

.icon-card2 {
    height: 45px;
    width: 45px;
    display: inline-block;
    background-position-x: -69px;
    background-position-y: -11px;
    background-size: 370px;
}

.icon-card3 {
    height: 40px;
    width: 45px;
    display: inline-block;
    background-position-x: -120px;
    background-position-y: -12px;
    background-size: 370px;
}

.icon-card4 {
    height: 40px;
    width: 45px;
    display: inline-block;
    background-position-x: -178px;
    background-position-y: -12px;
    background-size: 370px;
}

.icon-card5 {
    height: 40px;
    width: 45px;
    display: inline-block;
    background-position-x: -235px;
    background-position-y: -12px;
    background-size: 370px;
}

.icon-move {
    height: 25px;
    width: 25px;
    display: inline-block;
    background-position-x: -142px;
    background-position-y: -67px;
    background-size: 400px;
}

.icon-back {
    height: 17px;
    width: 10px;
    background-size: 355px;
    background-position-x: -50px;
    background-position-y: -98px;
}

.icon-go {
    height: 17px;
    width: 10px;
    background-size: 355px;
    background-position-x: -114px;
    background-position-y: -128px;
}

.icon-bell {
    width: 25px;
    height: 23px;
    display: inline-block;
    background-position-x: -219px;
    background-position-y: -70px;
    background-size: 420px;
}

.icon-bgbell-red {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-position-x: -220px;
    background-position-y: -92px;
    background-size: 368px;
}

.icon-bgbell {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-position-x: -172px;
    background-position-y: -92px;
    background-size: 368px;
}

.icon-card {
    width: 25px;
    height: 23px;
    display: inline-block;
    background-position-x: -253px;
    background-position-y: -70px;
    background-size: 420px;
}

.icon-set {
    width: 25px;
    height: 23px;
    display: inline-block;
    background-position-x: -285px;
    background-position-y: -70px;
    background-size: 420px;
}

.icon-right {
    height: 20px;
    width: 14px;
    display: inline-block;
    background-size: 370px;
    background-position-y: -101px;
    background-position-x: -23px;
}

.icon-check {
    height: 17px;
    width: 17px;
    display: inline-block;
    background-size: 370px;
    background-position-y: -104px;
    background-position-x: -105px;
}

.icon-square {
    border: 1px solid #ccc;
    width: 17px;
    height: 17px;
    display: inline-block;
    border-radius: 2px;
}

.icon-close {
    height: 30px;
    width: 30px;
    display: inline-block;
    background-size: 370px;
    background-position-y: -95px;
    background-position-x: -133px;
}

.icon-pen {
    height: 15px;
    width: 15px;
    display: inline-block;
    background-size: 330px;
    background-position-y: -92px;
    background-position-x: -67px;
}

.icon-alert {
    width: 10px;
    height: 10px;
    background-color: red;
    position: absolute;
    border-radius: 10px;
}

.icon-m{
    display: inline-block;
    background-size: 220px;
    width: 45px;
    height: 45px;
}
.icon-m1{background-position: -5px -5px;}       
.icon-m2{background-position: -60px -5px;}      
.icon-m3{background-position: -115px -5px;}     
.icon-m4{background-position: -170px -5px;} 
    
.icon-m5{background-position: -5px -60px;}      
.icon-m6{background-position: -60px -60px;}     
.icon-m7{background-position: -115px -60px;}        
.icon-m8{background-position: -170px -60px;}  
      
.icon-m9{background-position: -5px -115px;}  
.icon-m-od{background-position: -170px -115px;} 
  
.icon-m-ad{background-position: -5px -170px;}   
.icon-m-sc{background-position: -60px -170px;}  
.icon-m-bell{background-position: -115px -170px;}   
.icon-m-card{background-position: -170px -170px;} 
  
.icon-m-set{background-position: -5px -225px;}  
.icon-m-cir-od{background-position: -60px -225px;}   